html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: #c0e1ff !important;
  background-image: url("../img/schnee1.png"), url("../img/schnee2.png"),
    url("../img/schnee3.png");
  animation: schnee 25s linear infinite;
}

.headerMobile {
  display: none;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 6rem;
  letter-spacing: 3px;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Mountains of Christmas", cursive;
  font-weight: 700;
}

.formContainer {
  display: flex;
  color: white;
  place-content: flex-start;
  justify-content: space-between;
  width: 90vw;
  height: 70vh;
  background-image: linear-gradient(
      110deg,
      rgba($color: red, $alpha: 0.6) 55%,
      transparent 55%
    ),
    url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    margin-left: 2rem;

    .formGroup {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 8rem;

      &:nth-child(1) {
        input {
          width: 90%;
        }
      }
    }

    small {
      margin-top: 0.5rem;
      font-size: 1.2rem;
    }

    input {
      border: none;
      width: 80%;
      height: 5rem;
      font-size: 3.5rem;
      padding: 1rem 1rem;
      border-radius: 0.5rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      background-color: rgba($color: white, $alpha: 0.7);

      &::placeholder {
        color: gray;
      }

      &[type="submit"] {
        width: fit-content;
        height: 5rem;
        font-size: 2rem;
        color: white;
        margin-top: 6rem;
        background-color: rgba($color: #2ecc71, $alpha: 0.8);

        &:focus {
          box-shadow: none;
          transform: none;
        }

        &:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
          transform: translateY(-0.5rem);
        }
      }
      &:focus {
        outline: none;
        transform: translateY(-1rem);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
      }
    }
  }

  .right-text {
    place-self: flex-end;
  }

  p.infotext {
    text-align: right;
    place-self: flex-end;
    margin-right: 2rem;
    font-size: 1.6rem;
  }

  h3 {
    text-align: right;
    place-self: flex-end;
    margin-bottom: 2rem;
    margin-right: 2rem;
    font-size: 2.5rem;
  }
}

.copyText {
  font-size: 1.6rem;
  margin-top: 2rem;
  a {
    text-decoration: none;
    color: black;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

@keyframes schnee {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

@media screen and (max-width: 1211px) {
  .formGroup:nth-child(1) input {
    width: 50rem !important;
  }

  input:not([type="submit"]) {
    width: 45rem !important;
  }
}

@media screen and (max-width: 1167px) {
  .formGroup:nth-child(1) input {
    width: 45rem !important;
  }

  input:not([type="submit"]) {
    width: 40rem !important;
  }
}

@media screen and (max-width: 1000px) {
  .formGroup:nth-child(1) input {
    width: 40rem !important;
  }

  input:not([type="submit"]) {
    width: 35rem !important;
  }
}

@media screen and (max-width: 890px) {
  .formGroup:nth-child(1) input {
    width: 35rem !important;
  }

  input:not([type="submit"]) {
    width: 30rem !important;
  }
}

/*Mobile layout*/
@media screen and (max-width: 800px) {
  .header {
    display: none;
  }

  .headerMobile {
    display: inline-block;
    margin: 0;
    margin-top: 2rem;
  }

  .formContainer {
    width: 100vw;
    height: 100vh;
    padding-bottom: 2rem;
    border-radius: 0;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(
        110deg,
        rgba($color: red, $alpha: 0.6) 55%,
        rgba($color: red, $alpha: 0.6) 55%
      ),
      url("../img/bg.jpg");

    form {
      width: fit-content;
      margin: 0;
    }

    input:not([type="submit"]) {
      width: 50rem !important;
    }
  }

  .right-text {
    place-self: unset !important;

    p {
      text-align: center !important;
      margin-right: 0 !important;
    }

    h3 {
      text-align: center !important;
      margin-right: 0 !important;
    }
  }

  footer {
    text-align: center;
    background-color: #2ecc71;
    height: 10rem;
    width: 100vw;
  }
}

@media screen and (max-width: 570px) {
  .headerMobile {
    font-size: 5rem !important;
  }

  .formGroup {
    input:not([type="submit"]) {
      width: 40rem !important;
    }
  }

  .right-text {
    p {
      font-size: 1.6rem !important;
    }

    h3 {
      font-size: 2rem !important;
    }
  }
}

@media screen and (max-width: 490px) {
  .headerMobile {
    font-size: 4rem !important;
  }

  .formGroup {
    input:not([type="submit"]) {
      width: 35rem !important;
    }
  }

  .right-text {
    p {
      font-size: 1.4rem !important;
    }

    h3 {
      font-size: 2rem !important;
    }
  }
}

@media screen and (max-width: 405px) {
  .headerMobile {
    font-size: 3rem !important;
  }

  .formGroup {
    input:not([type="submit"]) {
      width: 30rem !important;
    }
  }

  .right-text {
    p {
      font-size: 1.2rem !important;
    }

    h3 {
      font-size: 1.5rem !important;
    }
  }
}
