body{
  text-align: center;
  margin:0;
  padding:0;
  font-family: 'Nunito', sans-serif;
  background-color:#C0E1FF !important;
  background-image:url('http://i.imgur.com/8zsjgyF.png'),url('http://i.imgur.com/wC1HUtA.png'),url('http://i.imgur.com/j5ekn4f.png');
  -webkit-animation:schnee 25s linear infinite;
  -moz-animation:schnee 25s linear infinite;
  -ms-animation:schnee 25s linear infinite;
  animation:schnee 25s linear infinite;
}

.wrapper{
  position: absolute;
  left:50%;
  top:50%;
  z-index: 15;
  margin: -400px 0 0 -300px;
  width: 600px;
  height:400px;

}

.jm_bild{
  height: 100px;
  width: auto;
}


@keyframes schnee{0%{background-position:0px 0px,0px 0px,0px 0px}100%{background-position:500px 1000px,400px 400px,300px 300px}}
@-moz-keyframes schnee{0%{background-position:0px 0px,0px 0px,0px 0px}100%{background-position:500px 1000px,400px 400px,300px 300px}}
@-webkit-keyframes schnee{0%{background-position:0px 0px,0px 0px,0px 0px}100%{background-position:500px 1000px,400px 400px,300px 300px;}}
@-ms-keyframes schnee{0%{background-position:0px 0px,0px 0px,0px 0px}100%{background-position:500px 1000px,400px 400px,300px 300px}}
