body{
  margin:0;
  padding:0;
  font-family: 'Nunito', sans-serif;
  background-color:#C0E1FF !important;
  background-image:url('http://i.imgur.com/8zsjgyF.png'),url('http://i.imgur.com/wC1HUtA.png'),url('http://i.imgur.com/j5ekn4f.png');
  -webkit-animation:schnee 25s linear infinite;
  -moz-animation:schnee 25s linear infinite;
  -ms-animation:schnee 25s linear infinite;
  animation:schnee 25s linear infinite;
}

#round-form{
  margin: 0 auto;
  background-color: #dc3545;
  height: 340px;
  width: 320px; 
  padding: 8px;
  border-radius: 4px;

}
#round-form form{
  padding-top:50px;
  text-align:center;
}

#round-form form input[type="text"]:focus{
  outline: none;
}

@keyframes schnee{0%{background-position:0px 0px,0px 0px,0px 0px}100%{background-position:500px 1000px,400px 400px,300px 300px}}
@-moz-keyframes schnee{0%{background-position:0px 0px,0px 0px,0px 0px}100%{background-position:500px 1000px,400px 400px,300px 300px}}
@-webkit-keyframes schnee{0%{background-position:0px 0px,0px 0px,0px 0px}100%{background-position:500px 1000px,400px 400px,300px 300px;}}
@-ms-keyframes schnee{0%{background-position:0px 0px,0px 0px,0px 0px}100%{background-position:500px 1000px,400px 400px,300px 300px}}
