@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,600");

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  border-radius: 10px;
}

th {
  height: 50px;
  text-align: center;
}

td {
  height: 50px;
  vertical-align: bottom;
  padding: 15px;
  text-align: left;
}

tr {
  color: #eee;
  font-size: 20px;
}

tr:first-child {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  background: #34495e;
}

tr {
  background: #3498db;
}
tr:nth-child(odd) {
  background: #2980b9;
}
